<!--{template common/header}-->

<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
	</div>
</div>

<style id="diy_style" type="text/css"></style>

<div id="ct" class="ct2 wp cl">
	<div class="mn">
		<div class="bm vw">
			<div class="h hm"><br>
				<h1 class="ph">{$article['xname']}</h1>
				<p class="xg1">
					2018-10-17<span class="pipe">|</span>
					发布人： <a href="home.php?mod=space&uid=$article[uid]">admin</a><span class="pipe">|</span>
					查看： <em id="_viewnum"><!--{if $article[viewnum] > 0}-->33<!--{else}-->0<!--{/if}--></em><span class="pipe">|</span>
					评论： <!--{if $article[commentnum] > 0}--><a href="$common_url" title="{lang view_all_comments}"><em id="_commentnum">33</em></a><!--{else}-->0<!--{/if}-->
				</p>
			</div>

			<div class="bm_c"><div><strong>摘要</strong>:XXXXXXXXXXXXXXXXXXXXXXXXXXXXX</div></div>

			<div class="bm_c">

				<table cellpadding="0" cellspacing="0" class="vwtb">
					<tr><td id="article_content"><div class="vm_pagetitle xw1">日期时间：{$article['xdate']}</div></td></tr>
					<tr><td id="article_content"><div class="vm_pagetitle xw1">游戏名称：{$article['xname']}</div></td></tr>
					<tr><td id="article_content"><div class="vm_pagetitle xw1">服务器名：{$article['xserver']}</div></td></tr>
					<tr><td id="article_content"><div class="vm_pagetitle xw1">角色名称：{$article['xuser']}</div></td></tr>
					<tr><td id="article_content"><div class="vm_pagetitle xw1">公会帮派：{$article['xgroup']}</div></td></tr>
					<tr><td id="article_content"><div class="vm_pagetitle xw1">游戏好友：{$article['xfriend']}</div></td></tr>
					<tr><td id="article_content"><div class="vm_pagetitle xw1">游戏寄语：{$article['xtext']}</div></td></tr>
				</table>

				<!--{if $multi}--><div class="ptw pbw cl">$multi</div><!--{/if}-->

			</div>
		</div>

		<div id="related_article" class="bm">
			<div class="bm_h cl">
				<h3>评论</h3>
			</div>
			<div class="bm_c">
				<ul class="xl xl2 cl" id="raid_div">
				<!--{loop $article_comment $ar_comment}-->
					<dl class="ptm pbm bbda cl">
						<dt class="mbm">
						<span class="y xw0 xi2">
							<!--{if ($_G['uid'] == $ar_comment['xh_uid'])}-->
								<a href="#" id="c_$comment[cid]_edit" onclick="showWindow(this.id, this.href, 'get', 0);">{lang edit}</a>
								<a href="#" id="c_$comment[cid]_delete" onclick="showWindow(this.id, this.href, 'get', 0);">{lang delete}</a>
							<!--{/if}-->
						</span>
						<!--{if !empty($ar_comment['xh_uid'])}-->
							<a href="home.php?mod=space&uid=$ar_comment[xh_uid]" class="xi2 xw1" c="1">$ar_comment[xh_username]</a>
						<!--{else}-->
							{lang guest}aaaaaa
						<!--{/if}-->
							<span class="xg1 xw0"><!--{date($ar_comment[xh_dateline])}--></span>
						<!--{if $ar_comment[xh_status] == 1}--><b>({lang moderate_need})</b><!--{/if}-->
						</dt>
						<dd><!--{if $ar_comment[xh_status] != 1}-->$ar_comment[xh_message]<!--{else}--> {lang moderate_not_validate}<!--{/if}--></dd>
					</dl>
				<!--{/loop}-->
					<br><br>
				</ul>
				<ul class="xl xl2 cl" id="raid_div">
					<form method="post" autocomplete="off" action="plugin.php?id=xunren:xiangxi&aid={$article[xid]}">
						<div class="tedt">
							<div class="area">
								<textarea name="message" rows="3" class="pt" id="message"></textarea>
							</div>
						</div>
						<input type="hidden" name="formhash" value="{FORMHASH}" />
						<input type="hidden" name="xid" value="{$article[xid]}" />
						<p class="ptn"><button type="submit" name="addcomment" class="pn vm" value="yes" ><span>提交</span></button></p>
					</form>
				</ul>
			</div>
		</div>

	</div>
	<div class="sd pph">
		<div class="bm">
			<div class="bm_h cl">
				<h2>相关内容</h2>
			</div>
			<div class="bm_c">
				<ul class="xl xl2 cl">
					<!--{loop $cat[others] $value}-->
					<li><a href="{echo getportalcategoryurl($value[catid])}">$value[catname]</a></li>
					<!--{/loop}-->
				</ul>
			</div>
		</div>

		<div class="bm">
			<div class="bm_h cl">
				<h2>相关分类</h2>
			</div>
			<div class="bm_c">
				<ul class="xl xl2 cl">
				<!--{loop $cat[subs] $value}-->
					<li><a href="{echo getportalcategoryurl($value[catid])}">$value[catname]</a></li>
				<!--{/loop}-->
				</ul>
			</div>
		</div>

	</div>
</div>

<!--{template common/footer}-->